.titulo-esp{
	padding-left: 575px;
	color: whitesmoke;
}

.espacamento{
	padding-left: 20px;
	font-size: 25px;
}

.paragrafo{
	color: floralwhite;
	font-size: 18px;
	padding-bottom: 5px;
}

.capa{
	width: 50%;
	height: 220px;
	padding-left: 320px;
}

.cor-lista{
	background: #87CEEB;
	padding-bottom: 15px;
}

.lista-estilo{
	color: floralwhite;
}

.corzinha-fundo{
	background: #87CEFA;
	padding-bottom: 15px;
}

.cor-corpo{
	background: #836FFF;
}
